
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 176.3rem;
}.dr-tSj {
  background-color: #ffffff;
  width: 100%;
  height: 609.4rem;
  position: relative;
  overflow: hidden;

  .rectangle-13-Fgb {
    width: 175.3rem;
    height: 113.4rem;
    position: absolute;
    left: 0.1rem;
    top: 113.4rem;
    background-color: #f7faf6;
  }
  .rectangle-22-Xe7 {
    width: 175.3rem;
    height: 113.4rem;
    position: absolute;
    left: 0;
    top: 340.2rem;
    background-color: #f7faf6;
  }
  .rectangle-12-oLj {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #538b27;
    width: 175.3rem;
    height: 113.4rem;
  }
  .derevnya-1-8to {
    position: absolute;
    left: 0;
    top: 5.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 192rem;
    height: 108rem;
  }
  .rectangle-15-FCj {
    width: 175.3rem;
    height: 113.4rem;
    position: absolute;
    left: 0;
    top: 226.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .line-1-ZjD {
    width: 175.3rem;
    height: 0.1rem;
    position: absolute;
    left: 0;
    top: 113.4rem;
    background-color: #000000;
  }
  .slogan-haX {
    line-height: 1.4;
    height: 39.2rem;
    top: 33.1rem;
    left: 35.7rem;
    font-size: 28rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Bakbak One, 'Source Sans Pro';
    white-space: nowrap;
    width: 107.4rem;
    position: absolute;
  }
  .about-us-9SX {
    height: 28rem;
    position: absolute;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.4;
    color: #538b27;
    width: 95.3rem;
    left: 7.8rem;
    top: 138.1rem;
    font-family: Bakbak One, 'Source Sans Pro';
    white-space: nowrap;
  }
  .our-goals-SAj {
    font-size: 20rem;
    line-height: 1.4;
    height: 28rem;
    position: absolute;
    left: 57.8rem;
    top: 344.3rem;
    white-space: nowrap;
    width: 109.2rem;
    font-weight: 400;
    color: #538b27;
    font-family: Bakbak One, 'Source Sans Pro';
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elitnchjbfhb-Vuh {
    color: #ffffff;
    white-space: nowrap;
    top: 65.4rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.4;
    font-family: Baloo 2, 'Source Sans Pro';
    width: 118.3rem;
    height: 5.6rem;
    position: absolute;
    left: 35.7rem;
  }
  .frame-1-msD {
    position: absolute;
    left: 7.1rem;
    top: 7.1rem;
    display: flex;
    align-items: center;
    width: 25.5664rem;
    height: 5.8709rem;

    .asdaw-1-4jq {
      margin-right: 1.4rem;
      width: 5.8709rem;
      height: 5.8709rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .gaia-mu9 {
      height: 5.0517rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 18.2955rem;
    }
  }
  .about-us-button-KQs {
    font-family: Bakbak One, 'Source Sans Pro';
    position: absolute;
    top: 8.1rem;
    left: 133.6rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    white-space: nowrap;
    width: 11.5rem;
    height: 3.4rem;
  }
  .about-us-button-aLo {
    height: 3.4rem;
    left: 154.1rem;
    top: 8.1rem;
    font-size: 2.4rem;
    font-weight: 400;
    width: 11.5rem;
    position: absolute;
    line-height: 1.4;
    color: #ffffff;
    font-family: Bakbak One, 'Source Sans Pro';
    white-space: nowrap;
  }
  .about-us-button-52f {
    left: 113.2rem;
    line-height: 1.4;
    font-family: Bakbak One, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.5rem;
    height: 3.4rem;
    position: absolute;
    top: 8.1rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #ffffff;
  }
  .rectangle-14-button-z9d {
    background-color: #f1f1e5;
    border-radius: 2.3rem;
    width: 30.7rem;
    height: 6.7rem;
    position: absolute;
    left: 72.3rem;
    top: 75.2rem;
  }
  .rectangle-17-uXV {
    height: 31rem;
    position: absolute;
    left: 135.7rem;
    top: 274.7rem;
    background-color: #f1f1e5;
    width: 28.8rem;
  }
  .rectangle-18-F5Z {
    width: 28.8rem;
    height: 31rem;
    position: absolute;
    left: 94.1rem;
    top: 274.7rem;
    background-color: #f1f1e5;
  }
  .rectangle-20-nbH {
    background-color: #f1f1e5;
    width: 50.5rem;
    height: 31.3rem;
    position: absolute;
    left: 8.2rem;
    top: 167.4rem;
  }
  .ellipse-1-Xom {
    width: 8.6rem;
    height: 8.6rem;
    position: absolute;
    left: 158.3rem;
    top: 120.9rem;
    background-color: #000000;
    border-radius: 4.3rem;
  }
  .ellipse-3-GWT {
    border-radius: 4.3rem;
    width: 8.6rem;
    height: 8.6rem;
    position: absolute;
    left: 129.6rem;
    top: 325.2rem;
    background-color: #000000;
  }
  .ellipse-4-1D9 {
    position: absolute;
    left: 143rem;
    top: 325.2rem;
    background-color: #000000;
    border-radius: 4.3rem;
    width: 8.6rem;
    height: 8.6rem;
  }
  .ellipse-5-JT9 {
    height: 8.6rem;
    position: absolute;
    left: 156.4rem;
    top: 325.2rem;
    background-color: #000000;
    border-radius: 4.3rem;
    width: 8.6rem;
  }
  .ellipse-2-1sM {
    border-radius: 4.3rem;
    width: 8.6rem;
    height: 8.6rem;
    position: absolute;
    left: 158.3rem;
    top: 131.8rem;
    background-color: #000000;
  }
  .rectangle-12-j2f {
    width: 175.3rem;
    height: 113.4rem;
    position: absolute;
    left: 0;
    top: 449.4rem;
    background-color: #538b27;
  }
  .ellipse-6-4qd {
    height: 21.8rem;
    position: absolute;
    left: 8.2rem;
    top: 375.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 20.5rem;
  }
  .ellipse-7-Cgw {
    top: 410.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 20.5rem;
    height: 21.8rem;
    position: absolute;
    left: 8.2rem;
  }
  .ellipse-8-vcw {
    left: 89rem;
    top: 390.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 20.5rem;
    height: 21.8rem;
    position: absolute;
  }
  .been-on-another-levelsince-you-came-no-more-painyou-look-into-my-eyesyou-cant-recognize-my-faceyoure-in-my-world-nowyou-can-stay-you-can-staybut-you-belong-to-meooh-you-belong-to-me-if-it-hurts-to-breathe-open-a-window-Tcs {
    left: 33.8rem;
    line-height: 1.4;
    color: #000000;
    position: absolute;
    height: 20.2rem;
    top: 375.7rem;
    font-size: 2.4rem;
    font-weight: 400;
    font-family: Bakbak One, 'Source Sans Pro';
    width: 44.7rem;
  }
  .been-on-another-levelsince-you-came-no-more-painyou-look-into-my-eyesyou-cant-recognize-my-faceyoure-in-my-world-nowyou-can-stay-you-can-staybut-you-belong-to-meooh-you-belong-to-me-if-it-hurts-to-breathe-open-a-window-FHq {
    left: 33.3rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
    font-family: Bakbak One, 'Source Sans Pro';
    width: 44.7rem;
    height: 20.2rem;
    position: absolute;
    top: 410.6rem;
  }
  .been-on-another-levelsince-you-came-no-more-painyou-look-into-my-eyesyou-cant-recognize-my-faceyoure-in-my-world-nowyou-can-stay-you-can-staybut-you-belong-to-meooh-you-belong-to-me-if-it-hurts-to-breathe-open-a-window-3zP {
    position: absolute;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
    font-family: Bakbak One, 'Source Sans Pro';
    width: 44.7rem;
    height: 20.2rem;
    left: 114.8rem;
    top: 391.6rem;
  }
  .cvetoshka-1-Htj {
    width: 176.9rem;
    height: 135.5rem;
    position: absolute;
    left: 87.8rem;
    top: 122.2rem;
    object-fit: cover;
    vertical-align: top;
  }
  .meshok-1-ptf {
    width: 183.9rem;
    height: 142.7rem;
    position: absolute;
    left: 0;
    top: 218.8rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-16-mZ1 {
    top: 274.7rem;
    background-color: #f1f1e5;
    width: 28.8rem;
    height: 31rem;
    position: absolute;
    left: 10.9rem;
  }
  .rectangle-19-Vju {
    height: 31rem;
    position: absolute;
    left: 52.5rem;
    top: 274.7rem;
    background-color: #f1f1e5;
    width: 28.8rem;
  }
  .our-team-ESb {
    white-space: nowrap;
    width: 98.5rem;
    height: 28rem;
    left: 37.6rem;
    top: 236.7rem;
    font-size: 20rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.4;
    color: #f8fbf7;
    font-family: Bakbak One, 'Source Sans Pro';
  }
  .rectangle-21-isZ {
    width: 50.5rem;
    height: 31.3rem;
    position: absolute;
    left: 64.7rem;
    top: 167.4rem;
    background-color: #f1f1e5;
  }
  .projects-F6o {
    height: 140rem;
    left: 2.4rem;
    font-weight: 400;
    line-height: 1.4;
    color: #f1f1e5;
    width: 23.3rem;
    position: absolute;
    top: 466.4rem;
    font-size: 20rem;
    font-family: Bakbak One, 'Source Sans Pro';
  }
  .social-media-accounts-button-MvX {
    left: 117.9rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
    font-family: Baloo 2, 'Source Sans Pro';
    white-space: nowrap;
    width: 49.7rem;
    height: 6.8rem;
    position: absolute;
    top: 564.7rem;
    font-size: 4.8rem;
  }
  .inst-1-fgK {
    width: 5.8rem;
    height: 5.6rem;
    position: absolute;
    left: 117.9rem;
    top: 572.4rem;
    object-fit: cover;
    vertical-align: top;
  }
  .button-c5m {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.4;
    white-space: nowrap;
    left: 7.2rem;
    height: 6.8rem;
    position: absolute;
    top: 570.3rem;
    color: #000000;
    font-family: Baloo 2, 'Source Sans Pro';
    width: 55.8rem;
  }
  .what-is-gaia--JzB {
    top: 179.8rem;
    font-size: 4rem;
    font-weight: 400;
    color: #000000;
    line-height: 1.5019999504;
    font-family: Baloo 2, 'Source Sans Pro';
    white-space: nowrap;
    width: 29.1rem;
    height: 6.1rem;
    position: absolute;
    left: 19.7rem;
  }
}
